@import '../../../style/global.scss';

.container {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  padding-bottom: 48px;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
  background-color: var(--color-page-background);
}

.inner {
  max-width: 720px;
  margin: auto;
  padding: 40px;
  box-sizing: border-box;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.02em;
  color: var(--color-text);
  text-align: center;
}

.inputGroup {
  margin-top: 30px;
}

.inputTitle {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-text);
  display: flex;
  align-items: center;
  font-family: Inter;
  letter-spacing: 1px;
}

.inputSubTitle {
  margin-top: 7px;
  font-weight: 400;
  font-size: 14px;
  color: #a2a2ad;
}

.inputWrapper {
  margin-top: 16px;
}

.option {
  margin: 0;
  width: 100%;
  height: 56px;
  background-color: var(--color-box);
  border: 1px solid var(--border-box);
  margin-bottom: 16px;
  border-left: 4px solid var(--color-text);
  box-sizing: border-box;
  padding-left: 24px;
  font-family: Inter;

  &:last-child {
    margin-bottom: 0;
  }

  &.active {
    border-left-color: rgba(255, 107, 199, 1) !important;
  }
}

.aboutTitle {
  font-size: 58px;
  line-height: 71px;
  color: var(--color-text);
  font-family: Inter;
  font-weight: 800;
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  right: 30px;
}

.aboutTitleBis {
  font-size: 200px;
  line-height: 71px;
  color: var(--color-text);
  font-family: Inter;
  font-weight: 800;
  letter-spacing: -10px;
  position: absolute;
  top: 69px;
  right: 28px;
  opacity: 0.3;
}

.titleWrapper {
  display: flex;
  padding-top: 100px;
  position: relative;
}

.optionLabel {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--color-text);
  margin-left: 24px;
  font-family: Inter !important;
}

.lengthIndicator {
  font-size: 13px;
  font-weight: 400;
  margin-top: 6px;
  margin-right: 6px;
  text-align: right;
  color: #a2a2ad;

  & + .error {
    margin-top: -16px;
  }
}

.error {
  font-size: 13px;
  font-weight: 400;
  margin: 6px 0 0 6px;
  color: rgba(235, 87, 87);
}

.hasError {
  border-color: rgb(235, 87, 87) !important;
}

.logoUploadBox {
  width: 100%;
  height: 250px;
  box-sizing: border-box;
  border: 2px dashed var(--border-box);
  background-color: var(--color-box);
  position: relative;

  &:hover {
    opacity: 0.6;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: none;
  }
}

.removeOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  opacity: 0;
  transition: opacity ease 100ms;

  &:hover {
    opacity: 1;
  }
}

.removeIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.uploadOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: opacity ease 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 1px;
  position: relative;
}

.uploadInner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--icon-wrapper);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 60px;
    height: 60px;
  }
}

.plusIcon {
  position: absolute;
  width: 28px;
  height: 28px;
  right: -11px;
  top: 17px;
  border: 1px solid var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 12px;
    height: 12px;
  }
}

.input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: var(--color-box);
  color: var(--color-text);
  outline: none;
  border: 1px solid var(--border-box);
  font-family: Inter;
  letter-spacing: 1px;

  &:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  }
}

.longInput {
  height: 120px;
  resize: vertical;
}

.categoryList {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.categoryButton {
  flex: 0 0 120px;
  height: 48px;
  padding: 8px 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text);
  letter-spacing: 1px;
  background-color: var(--color-box);
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  font-family: Inter;

  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  }
}

.menu {
  top: 400px;
  min-width: 160px;
  max-height: 350px;
  overflow-y: auto;
  background-color: var(--color-page-background) !important;
  color: var(--color-text) !important;
}

.category {
  height: 48px;
}

.categoryIcon {
  width: 20px;
  height: 20px;
}

.categoryLabel {
  margin-left: 12px;
}

.selectedCategory {
  flex: 0 0 150px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text);
  line-height: 20px;
  box-sizing: border-box;
  border: 1px solid var(--border-box);
  background-color: var(--color-box);
  cursor: pointer;
  user-select: none;
  white-space: nowrap;

  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  }
}

.closeIcon {
  width: 20px;
  height: 20px;
  margin-left: 12px;
}

.linksWrapper {
  width: 100%;
  overflow: hidden;
  border: 1px solid var(--border-box);
  background-color: var(--color-box);
  box-sizing: border-box;
}

.linkItem {
  display: flex;
  flex-direction: row;
  height: 56px;
  border-bottom: 1px solid var(--border-box);
  box-sizing: border-box;
  overflow: hidden;

  &:last-child {
    border-bottom: 0;
  }
}

.linkIconWrapper {
  flex: 0 0 76px;
  border-right: 1px solid var(--border-box);
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkIcon {
  width: 28px;
  height: auto;
  color: #999;
}

.linkInput {
  flex-grow: 1;
  border: none;
  outline: none;
  margin: 0;
  padding: 0 12px;
  font-size: 16px;
  color: var(--color-text);
  background-color: transparent;
  flex-basis: 0px;
  font-family: Inter;
  letter-spacing: 1px;

  &::placeholder {
    color: #888;
  }
}

.buttonsWrapper {
  margin-top: 40px;
  display: flex;
}

.createButton {
  width: 168px;
  height: 48px;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border-color: rgba(255, 107, 199, 1);
    color: rgba(255, 107, 199, 1);
    transform: scale(1.02);
  }
}

.disabled {
  cursor: not-allowed;
  box-shadow: none !important;
  opacity: 0.7;
}

.fee {
  margin-top: 16px;
  display: flex;
  align-items: center;
  color: var(--color-text);
  opacity: 0.6;
  font-family: Inter;
  letter-spacing: 1px;
  grid-gap: 10px;
}

@media only screen and (max-width: 768px) {
  .inner {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 500px;
  }

  .categoryList {
    flex-direction: column;
    align-items: flex-start;
  }

  .categoryButton,
  .selectedCategory {
    flex: 0 0 48px;
  }

  .selectedCategory {
    margin-left: 0;
    margin-top: 16px;
  }

  .linkIconWrapper {
    flex: 0 0 50px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding-top: 155px;
  }
}

@media only screen and (max-width: 600px) {
  .inner {
    margin: 0;
    padding: 0 30px;
  }
  .aboutTitle {
    font-size: 48px;
    line-height: 71px;
    color: var(--color-text);
    font-family: Inter;
    font-weight: 800;
    letter-spacing: 1px;
    position: absolute;
    top: 0;
    right: 30px;
    margin-top: 0px;
    padding-left: 20px;
  }

  .aboutTitleBis {
    font-size: 100px;
    line-height: 71px;
    color: var(--color-text);
    font-family: Inter;
    font-weight: 800;
    letter-spacing: -1px;
    position: absolute;
    top: 69px;
    right: 28px;
    opacity: 0.3;
  }
}
