.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
:global {
  body.homepage {
    background: white !important;
  }
  body.is__dark.homepage {
    background: #000000 !important;
  }
}
.body {
  width: 1400px;
  max-width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  z-index: 1;
  margin-bottom: 4rem;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: fit-content;
  position: relative;

  .poolSection {
    margin: 2rem 0;
    h2 {
      margin-bottom: 2rem;
    }
  }
  .cardRow {
    cursor: pointer;
    display: grid;
    gap: 20px;

    grid-template-columns: repeat(auto-fit, minmax(400px, 302px));
  }

  .selectPool {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 0;

    a {
      background: transparent;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      border: 1px solid #a3a2a2;
    }
  }

  @media screen and (max-width: 768px) {
    
    .cardRow {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      padding: 0 1rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .body{
    padding: 0 15px;
  }
  .poolSection{

    h2{
      margin-bottom: 1rem;
    }
    .cardRow{
      gap:10px;
    }
  }
}