@import '../../style/global.scss';

.container {
  padding-top: 80px;
  box-sizing: border-box;
  min-height: 5d0vw;
  display: flex;
  overflow-y: auto;
  justify-content: center;
  background-color: var(--color-page-background);
}

.aboutInner {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 80px;
  box-sizing: border-box;
  position: relative;
  padding-top: 80px;
  background-color: var(--color-page-background);
}

.aboutTitle {
  font-size: 58px;
  line-height: 71px;
  color: var(--color-text);
  font-family: Inter;
  font-weight: 800;
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  right: 30px;
}

.desc {
  color: var(--color-text);
  letter-spacing: 1px;
  font-family: Inter;
  font-weight: 500;
  margin-top: 15px;
}

.soldOut {
  font-family: Inter;
  text-align: center;
  color: rgba(255, 107, 199, 1);
  font-size: 23px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.launchWrapper {
  display: flex;
  min-height: 600px;
  margin-top: 60px;
  width: 70vw;
  border: 1px solid var(--color-text);
  background-color: var(--color-box);
  flex-direction: row;
}

.infoWrapper {
  display: flex;
  width: 50%;
  height: calc(100% - 60px);
  padding: 30px;
  flex-direction: column;
  grid-gap: 30px;
}

.imageWrapper {
  display: flex;
  width: 50%;
  height: calc(100% - 60px);
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.incomingWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 96px;
}

.incomingCollection {
  z-index: 1;
  margin: 15px;
  width: 360px;
  height: 400px;
  padding-bottom: 30px;
  padding-top: unset;
  box-sizing: border-box;
  border: solid 1px;
  border-color: var(--color-text);
  background-color: var(--color-box);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  &:last-child {
    margin-right: 0;
  }
}

.incomingImg {
  transition: all 0.4s ease-in-out;
  opacity: 0.8;
}

.incomingCollection:hover .incomingImg {
  transform: scale(1.1);
}

.exploreButtonInside {
  width: 166px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.2px;
  color: var(--color-text);
  margin: auto;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration: none;
  background: var(--color-page-background);
}

.mintButton {
  width: 168px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.2px;
  color: var(--color-text);
  box-shadow: none;
  box-sizing: border-box;
  text-decoration: none;
  background: rgb(109, 186, 252);
  background: linear-gradient(
    93deg,
    rgba(109, 186, 252, 1) 0%,
    rgba(255, 107, 199, 1) 100%
  );
}

.mintButtonInside {
  width: 166px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.2px;
  color: var(--color-text);
  margin: auto;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration: none;
  background: var(--color-page-background);
  transition: all ease-in-out 0.7s;
  &:hover {
    background: rgb(109, 186, 252);
    background: linear-gradient(
      93deg,
      rgba(109, 186, 252, 1) 0%,
      rgba(255, 107, 199, 1) 100%
    );
  }
}

.titleCollection {
  font-size: 60px;
  color: var(--color-text);
}

.descriptionCollection {
  font-size: 20px;
  color: var(--color-text);
  opacity: 0.8;
}

.statswrapper {
  display: flex;
  flex-direction: row;
}

.statsWrapBy2 {
  display: flex;
}

.statsElement1 {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-color: var(--border-box);
  background-color: var(--color-box);
  border-right: 0px !important;
  height: 70px;
  width: 150px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.statsElement2 {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-color: var(--border-box);
  background-color: var(--color-box);
  height: 70px;
  width: 150px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.titleStats {
  font-size: 14px;
  text-align: center;
  margin-bottom: auto;
  color: var(--color-text);
}

.textStats {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-top: auto;
  color: var(--color-text);
}

.mintWrapper {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
}

.mintText {
  color: rgba(255, 107, 199, 1);
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 10px;
}

.mintProgress {
  flex: display;
  flex-direction: column;
  grid-gap: 5px;
}

.mintProgression {
  color: var(--color-text);
  font-size: 15px;
  text-align: right;
  margin-top: 10px;
}

.formInput {
  width: 70px;
  outline: none;
  height: 50px;
  border-radius: 10px;
  border: 1px solid var(--border-box);
  background-color: var(--color-box);
  color: white;
  padding: 8px 16px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
}

.footerlinks {
  color: var(--color-text);
  font-family: Inter;
}
.footerlinks:hover {
  opacity: 0.6;
}
.footertext {
  color: var(--color-text);
  font-family: Inter;
}
.footer {
  margin-top: 80px;
  margin: auto;
  width: 100%;
  min-height: 200px;
  padding: 0 80px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-page-background);
  flex-direction: column;
  border-top: 1px solid var(--color-text);
}
.spacer {
  padding: 50px;
  background-color: var(--color-page-background);
}

.aboutTitle {
  font-size: 58px;
  line-height: 71px;
  color: var(--color-text);
  font-family: Inter;
  font-weight: 800;
  letter-spacing: 1px;
  position: absolute;
  top: 120px;
  right: 30px;
}

.aboutTitleBis {
  font-size: 160px;
  line-height: 71px;
  color: var(--color-text);
  font-family: Inter;
  font-weight: 800;
  letter-spacing: -10px;
  position: absolute;
  top: 150px;
  right: 28px;
  opacity: 0.3;
  z-index: 1;
}

.titleWrapper {
  display: flex;
  padding-top: 100px;
  position: relative;
  width: 100vw;
  background-color: var(--color-page-background);
}

.imgfootwraper {
  justify-content: center;
  align-items: center;
}
.linkswrapper {
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.bottomwrapper {
  display: flex;
  margin-top: 20px;
}
.socialwrapper {
  flex-direction: row;
  display: flex;
  margin-top: auto;
}
.socialbutton {
  border-radius: 50px;
  padding: 7px;
  width: 15px;
  height: 15px;
  background-color: var(--color-box);
  margin: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}

.logo {
  height: 35px;
}

@media only screen and (max-width: 900px) {
  .aboutTitle {
    font-size: 63px;
  }

  .aboutTitleBis {
    font-size: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .aboutTitle {
    font-size: 48px;
  }

  .aboutTitleBis {
    font-size: 80px;
  }
  .incomingWrapper {
    margin-top: 140px;
  }
  .incomingCollection {
    width: 300px;
    margin: unset;
    margin-bottom: 15px;
  }
}
