@import '../../style/global.scss';

.container {
  padding-top: 80px;
  box-sizing: border-box;
  min-height: 5d0vw;
  display: flex;
  overflow-y: auto;
  justify-content: center;
  background-color: var(--color-page-background);
}

.body {
  display: flex;
  flex-direction: column;
}

.launchWrapper {
  display: flex;
  min-height: 600px;
  margin-top: 60px;
  width: 70vw;
  border: 1px solid var(--color-text);
  background-color: var(--color-box);
  flex-direction: row;
}

.infoWrapper {
  display: flex;
  width: 50%;
  height: calc(100% - 60px);
  padding: 30px;
  flex-direction: column;
  grid-gap: 30px;
}

.imageWrapper {
  display: flex;
  width: 50%;
  height: calc(100% - 60px);
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.exploreButton {
  width: 168px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.2px;
  color: rgba(255, 107, 199, 1);
  box-shadow: none;
  box-sizing: border-box;
  text-decoration: none;
  background-color: var(--border-box);
  border: 1px solid var(--color-text);
}
.mintButton {
  width: 168px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.2px;
  color: var(--color-text);
  box-shadow: none;
  border: 1px solid var(--color-text);
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--border-box);
  &:hover {
    border-color: rgba(255, 107, 199, 1);
    transform: scale(1.02);
    color: rgba(255, 107, 199, 1);
  }
}

.titleCollection {
  font-size: 60px;
  color: var(--color-text);
  font-family: Inter;
}

.descriptionCollection {
  font-size: 20px;
  color: var(--color-text);
  opacity: 0.8;
  font-family: Inter;
  letter-spacing: 1px;
  text-align: justify;
}

.statswrapper {
  display: flex;
  flex-direction: row;
}

.statsWrapBy2 {
  display: flex;
}

.statsElement1 {
  display: flex;
  flex-direction: column;
  height: 70px;
  width: 150px;
  border: 1px solid var(--color-page-background);
}

.statsElement2 {
  display: flex;
  flex-direction: column;
  height: 70px;
  width: 150px;
  border: 1px solid var(--color-page-background);
}

.titleStats {
  font-size: 14px;
  text-align: center;
  margin-bottom: auto;
  color: var(--color-text);
}

.textStats {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-top: auto;
  color: var(--color-text);
}

.mintWrapper {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
}

.mintText {
  color: rgba(255, 107, 199, 1);
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 10px;
}

.mintProgress {
  flex: display;
  flex-direction: column;
  grid-gap: 5px;
}

.mintProgression {
  color: var(--color-text);
  font-size: 15px;
  text-align: right;
  margin-top: 10px;
}

.formInput {
  width: 70px;
  outline: none;
  height: 48px;
  border: 1px solid var(--color-text);
  background-color: var(--color-box);
  color: var(--color-text);
  padding: 8px 16px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
}

.footerlinks {
  color: white;
  font-family: Inter;
}
.footerlinks:hover {
  opacity: 0.6;
}
.footertext {
  color: white;
  font-family: Inter;
}
.footer {
  margin-top: 80px;
  margin: auto;
  width: 100%;
  min-height: 200px;
  padding: 0 80px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-page-background);
  flex-direction: column;
}
.imgfootwraper {
  justify-content: center;
  align-items: center;
}
.linkswrapper {
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.bottomwrapper {
  display: flex;
  margin-top: 20px;
}
.socialwrapper {
  flex-direction: row;
  display: flex;
}
.socialbutton {
  border-radius: 50px;
  padding: 7px;
  width: 15px;
  height: 15px;
  background-color: var(--color-box);
  margin: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}

.logo {
  height: 35px;
}

@media only screen and (max-width: 1200px) {
  .launchWrapper {
    width: 90vw;
  }
}

@media only screen and (max-width: 768px) {
  .launchWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .infoWrapper {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .imageWrapper {
    width: 100%;
  }
  .descriptionCollection {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
}

@media only screen and (max-width: 530px) {
  .titleCollection {
    font-size: 40px;
  }
  .descriptionCollection {
    font-size: 20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .statsElement1 {
    height: 50px;
    width: 120px;
  }
  .statsElement2 {
    height: 50px;
    width: 120px;
  }
  .titleStats {
    font-size: 10px;
  }
  .textStats {
    font-size: 17px;
  }
  .infoWrapper {
    padding: 10px;
  }
  .mintButton {
    width: 138px;
  }
  .mintButtonInside {
    width: 136px;
  }
}
